<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>Bayou Groceries</title>
		<%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=true&libraries=places,visualization&v=3.exp' %>
		<%= stylesheet_link_tag    :application %>
		<%= javascript_include_tag :application %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
